@import "func";

$commonFont: STHeiTi, "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;

html {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

body {
    @extend html;
    position: relative;
    @include px2px(font-size, 32px, true);
    font-family: $commonFont;
}

a {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    text-decoration: none;
}

input,
button,
select,
textarea {
    outline: none;
    padding: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}